<h1> Hello Picthes {{ id }} </h1>     
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: no-repeat center center">
        </div> -->

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 category-details">
            <h3>{{ category.cat_name }}</h3>

            <!-- <p class="overview"> {{ category.overview }}</p>
            <p class="ratings"> <b> {{ category.vote_average }}</b> - <i>{{ category.vote_count}} votes </i> </p> -->
            <a class="ratings" href="/category/picth/new/{{category.id}}"> Write a new Pitch</a>


        </div>
    </div>
    <div class="row">

        <h1>Picthes</h1>
        <hr>

        {% if pitch %}
            {{macro.displayReviews(pitch)}}

        {% else%}
            <h3 class="text-center">This Category has no Picthes </h3>

            <a class="btn btn-success btn-lg text-center" href="/category/pitch/new/{{category.id}}"> Write a new Pitch</a>
        {% endif %}

    </div>

</div>
{% endblock %}